/* ResumeContainer component style */

.resume-container {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .resume-container {
    flex-direction: column;
    overflow-y: unset;
  }
}
