/* ResumePreviewContainer component style */

.resume-preview-container {
  padding: 2rem;
  width: 60%;
  background-color: var(--color-border);
  overflow-y: auto;
  width: 75%;
}

@media (max-width: 768px) {
  .resume-preview-container {
    width: 100%;
  }
}
