/* PreviewItem component style */

.preview-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.organization-location-date {
  display: flex;
  justify-content: space-between;
}

.organization-location {
  display: flex;
  gap: 0.25rem;
}

.organization {
  font-weight: 900;
}

.date {
  font-weight: 700;
}

.position-or-study {
  font-style: italic;
}
