/* ResumePreview component style */

.resume-preview {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--preview-bg);
  color: var(--preview-black);
  width: 816px; /* 8.5in at 96dpi */
  min-height: 1056px; /* 11in at 96dpi */
  padding: 96px; /* ~1in margins */
}
