/* ResumePreview component style */

.resume-preview {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--preview-bg);
  padding: 1.5rem;
  color: var(--preview-black);
}
