/* ResumeBuilder component style */

.resume-builder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--color-border);
  overflow-y: auto;
  width: 25%;
}
